<!DOCTYPE html>
<html>
	<head>
		<title>{{STORY_NAME}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%
			/* See https://github.com/jantimon/html-webpack-plugin/tree/master/examples/inline */

			if (inline) {
				assets.css.forEach(css =>
					print(`<style>${compilation.assets[css.substr(assets.publicPath.length)].source()}</style>`)
				)
			}
      %>
    <style>
      tw-storydata {
        display: none;
      }
    </style>
    <link rel="stylesheer" href="https://fonts.googleapis.com/css?family=Great+Vibes|Libre+Baskerville&display=swap" />
	</head>
	<body class="antialiased font-body font-serif">
    <%= storyData %>
    <div class="container max-w-3xl px-4 mx-auto">
      <div id="app"></div>
    </div>
	</body>
</html>